* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,#5390d9,#64dfdf); 
    min-height: 100vh;
    color: #1b263b;
}

h1 {
    padding: 50px;
}

.caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 50vh;
    min-width: 300px;
    margin: 100px;
    gap: 5px;
    border: 2px solid #edf6f9;
    background: linear-gradient(190deg, #4ea8de, #56cfe1);
    box-shadow: 0 0 15px #006d77;
    border-radius: 15px;
}

input {
    background: none;
    border-width: 0px 0px 2px 0px;
    border-bottom: 1px solid ;
    border-color: rgb(68, 108, 110);
    outline: none;
    text-align: left;
    
}

label {
    padding-right: 125px;
    color: #1b263bb2;
}

button {
    margin: 20px 10px 20px 10px ;
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 8em;
    background: #1f4d61;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    transition: 0.4s;
    transform: translateY(-1px);
    box-shadow: 0 10 15px rgba(0, 191, 255, 0.5);
}